.winners-by-country {
  background-color: hsl(150, 70%, 80%);
  // overflow-x: scroll;
  .chart-wrapper {
    position: relative;
    height:100%; 
    width:100%;
    // overflow-x: scroll;
    canvas{
        overflow-x: scroll;
    }
  }

}